*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head_title {
    width: 65%;
}

h1{
    color: green;
    text-align: right;
}

.church{
    color: red;
    text-align: right;
}

p{
    line-height: 1.5;
}

h3{
    color: purple;
}

.contact{
    color: black;
}

.media{
    color: purple;
}

.fa-whatsapp{
    color: lightgreen;
}

.fa-twitter-square{
    color: blue;
}

.fa-youtube-square{
    color: red;
}

.fa-vimeo{
    color: black;
}


.fa-facebook-f{
    color: purple;
}

.programs{
    color: red;
}

.letter::first-letter{
    font-size: 25px;
}

.shift{
    padding-left: 20px;
}

.shift .indent{
    text-indent: 20px;
}